/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  /* Переменные тёмной темы */
  --main-font-family: 'IBM Plex mono';
  --text-size: 18px;
  --text-color: #F1B2CE;
  --title-color: #db00ff;
  --accent-color: #FF0070;
  --accent-text-color: #000028;
  --decorated-color: #FF0070;
  --hover-border-color: rgba(255 0 112 / 0.40);
  --background-image: url(../images/cover-image-dark.png);
  --background-color:#000028;
  --rec-display: flex;
}